<%= simple_form_for @symptom, :html => { :class => 'form-vertical' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Symptom</legend>
	<%= f.input :name, :label => "Symptom" %>
    <%= f.association :symptom_category, :include_blank => false, :label => "Category" %>
    <%= f.input :description %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Cancel', symptoms_path, :class => 'btn' %>
    </div><!--/ .form-actions-->
  </fieldset>
<% end %>
