<h1>Listing symptoms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Symptom category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @symptoms.each do |symptom| %>
  <tr>
    <td><%= symptom.name %></td>
    <td><%= symptom.description %></td>
    <td><%= symptom.symptom_category_id %></td>
    <td><%= link_to 'Show', symptom %></td>
    <td><%= link_to 'Edit', edit_symptom_path(symptom) %></td>
    <td><%= link_to 'Destroy', symptom, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Symptom', new_symptom_path %>
