<legend>Symptom</legend>
<p>
  <b>Name</b><br>
  <%= @symptom.name %>
</p>

<p>
  <b>Category</b><br>
  <%= @symptom.symptom_category.try(:name) %>
</p>

<% if @symptom.description? == true %>
<p>
  <b>Description</b><br>
  <%= @symptom.description %>
</p>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', symptoms_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_symptom_path(@symptom), :class => 'btn' %>
  <%= link_to 'Delete', symptom_path(@symptom), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
