<%= form_for(@predefined_symptom) do |f| %>
  <% if @predefined_symptom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@predefined_symptom.errors.count, "error") %> prohibited this predefined_symptom from being saved:</h2>

      <ul>
      <% @predefined_symptom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :symptom_category_id, :value=>:id %>
<% end %>
