<h1>Listing predefined_symptoms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @predefined_symptoms.each do |predefined_symptom| %>
  <tr>
    <td><%= predefined_symptom.name %></td>
    <td><%= predefined_symptom.description %></td>
    <td><%= link_to 'Show', predefined_symptom %></td>
    <td><%= link_to 'Edit', edit_predefined_symptom_path(predefined_symptom) %></td>
    <td><%= link_to 'Destroy', predefined_symptom, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Predefined symptom', new_predefined_symptom_path %>
