<section class="hero-unit">
	<h2>Sign in</h2>
	
	<%= form_tag sessions_path, :html => { :class => 'form-vertical' } do %> 
	  <div class="field">
	    <%= label_tag :email %>
	    <%= text_field_tag :email, params[:email], :placeholder => "email", :autofocus => true %>
	  </div>
	  <div class="field">
	    <%= label_tag :password %>
	    <%= text_field_tag :password, params[:email], :placeholder => "password", :type => "password" %>
	  </div>
	 <div class="actions">
	  	<%= submit_tag "Sign in", :class => "btn btn-success btn-large" %>
	  </div><!--.actions-->
	<% end %>	
	<!--begin REMEMBER-ME-->
	<%= check_box_tag :remember_me, 1, params[:remember_me] %><%= label_tag :remember_me %>
	<!-- end REMEMBER-ME-->
	<!--begin FORGOTTEN-PASSWORD-->
	<%= link_to "Reset password?", new_password_reset_path %><br/>
	<!--end FORGOTTEN-PASSWORD-->
	Not yet a member? <%= link_to "Sign up", signup_path %>
</section><!--#new_session-->



