<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @note.name %>
</p>

<p>
  <b>Description:</b>
  <%= @note.description %>
</p>

<p>
  <b>Patient:</b>
  <%= @note.patient_id %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
