<section id="reset_password">
	<h2>Reset Password</h2>
	<%= form_for @patient, :url => password_reset_path(params[:id]) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
	  <div class="field">
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	  </div>
	  <div class="actions"><%= f.submit "Update", :class => "button round" %></div>
	<% end %>
</section><!--#reset_password-->