<%= form_for(@person) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :location, "Where are you currently located?" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :birthday, "What is your birthday?" %><br />
    <%= f.date_select :birthday, :end_year => 1920, :start_year => 2000 %>
  </div>
  <div class="field">
    <%= f.label :race, "What is your ethnicity?" %><br />
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :sex, "What is your sexual orientation?" %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :first_occurrence, "What year did you experience your first symptom?" %>
    <br />
    <%= f.select(:first_occurrence, 1920..2012) %>
  </div>
  <div class="field">
    <%= f.label :year_diagnosed, "What year were you diagnosed?" %><br />
    <%= f.select(:year_diagnosed, 1920..2012) %>
  </div>
  <div class="field">
    <%= f.label :primary_physician, "Who is your primary neurologist?" %><br />
    <%= f.text_field :primary_physician %>
  </div>
  <div class="field">
    <%= f.label :condition, "What primary type of MS do you have?" %><br />
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :medications, "What medications are your currently taking?" %><br />
    <%= f.text_area :medications, :size => "60x12" %>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class => "button round" %>
  </div>
<% end %>
