<h1>Listing user_defined_symptoms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_defined_symptoms.each do |user_defined_symptom| %>
  <tr>
    <td><%= user_defined_symptom.name %></td>
    <td><%= user_defined_symptom.description %></td>
    <td><%= link_to 'Show', user_defined_symptom %></td>
    <td><%= link_to 'Edit', edit_user_defined_symptom_path(user_defined_symptom) %></td>
    <td><%= link_to 'Destroy', user_defined_symptom, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User defined symptom', new_user_defined_symptom_path %>
