<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user_defined_symptom.name %>
</p>

<p>
  <b>Description:</b>
  <%= @user_defined_symptom.description %>
</p>


<%= link_to 'Edit', edit_user_defined_symptom_path(@user_defined_symptom) %> |
<%= link_to 'Back', user_defined_symptoms_path %>
