<%= simple_form_for @symptom_category, :html => { :class => 'form-vertical' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Symptom Category</legend>
	<%= f.input :name, :label => "Category" %>
	<%= f.input :description %>
    <div class="form-actions">
	    <%= f.submit nil, :class => 'btn btn-success' %>
	    <%= link_to 'Cancel', symptom_categories_path, :class => 'btn' %>
	</div><!--/ .form-actions-->    
  </fieldset>
<% end %>
