<%= form_for(@symptom_category) do |f| %>
  <% if @symptom_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@symptom_category.errors.count, "error") %> prohibited this symptom_category from being saved:</h2>

      <ul>
      <% @symptom_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
