<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @symptom_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @symptom_category.description %>
</p>


<%= link_to 'Edit', edit_symptom_category_path(@symptom_category) %> |
<%= link_to 'Back', symptom_categories_path %>
