<div class="profile-info">
	<h2><%= link_to current_patient.first_name + " " + current_patient.last_name, current_patient %></h2>
	<% if current_patient.photo? %>
		<%= image_tag current_patient.photo.url(:small), :class => "round mid-shadow" %>
	<% else %>
		<%= profile_image %>
	<% end %>
</div><!--/ .profile_info-->
<ul class="nav nav-tabs nav-stacked">
	<li><%= link_to "View Profile", current_patient %></li>
	<li><%= link_to "Edit Profile", profile_path %></li>
	<li><%= link_to "Account Settings", edit_patient_path(current_patient) %></li>
	<li><%= link_to "Care Team", careteam_path %></li>
</ul>