<nav id="main-sidebar">
	<ul class="side-nav-style">
		<li class="<%= "current" if params[:controller] == "journals" %>">
			<%= link_to "Journal", "#" %>
		</li>
		<li class="<%= "current" if params[:controller] == "history" %>">
			<%= link_to "History", "#" %>
		</li>
		<li class="<%= "current" if params[:controller] == "members" %>">
			<%= link_to "Profile", @member %>
		</li>
	</ul>
</nav>