<nav id="main-sidebar">
	<ul class="side-nav-style">
		<li class="<%= "current" if params[:controller] == "surveys" %>">
			<%= link_to "Journal", survey_path %>
		</li>
		<li class="<%= "current" if params[:controller] == "histories" %>">
			<%= link_to "History", history_path %>
		</li>
		<li class="<%= "current" if params[:controller] == "patients" %>">
			<%= link_to "Profile", @patient %>
		</li>
	</ul>
</nav>