<div id="team_info">
		<h2>Meet Our Team</h2>
		<div id="left-profiles">
			<%= link_to kurbi_pic, 'http://twitter.com/gokurbi', :target => '_blank' %>
			<h3>Kurbi</h3>
			<p>"As CEO, Chief Encouragement Officer, I am here to help guide you through our application, and of course be your #1 fan."
			</p>
		
		<%= link_to wes_pic, 'http://twitter.com/wes_garnett', :target => '_blank' %>
		<h3>Wesley Garnett, Jr.</h3>
		<p>"My Mom was diagnosed with MS 8 years ago; my great uncle and cousin soon after her. I'm involved with Kurbi because I believe it will eventually help researchers find a cure."
		</p>

		<%= link_to steve_pic, 'http://twitter.com/steve_roettger', :target => '_blank' %>
		<h3>Steve Roettger</h3>
		<p>"I feel that by logging this data (symptom management & physical activity) on a daily basis, we can better learn about MS progression, and ultimately use this learning to improve overall quality of life."
		</p>
		</div><!--#upperleft-lower-content-->
		
		<div id="right-profiles">
		<%= link_to david_pic, 'http://twitter.com/davidclizbe', :target => '_blank' %>
		<h3>David Clizbe, M.S.</h3>
		<p>"As a biomechanist and researcher of neuromuscular control, my interest in Kurbi is its unique ability to improve collecting, analyzing, and integrating healthcare data into new and meaningful solutions." 
		</p>

		<%= link_to matt_pic, 'http://twitter.com', :target => '_blank' %>
		<h3>Matt Eckman</h3>
		<p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor." 
		</p>

		<%= link_to kurbi_pic, 'http://twitter.com', :target => '_blank' %>
		<h3>Gregg Noll</h3>
		<p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor." 
		</p>
		</div>
</div><!--.team_info-->
