<h1>Listing disease_profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disease_profiles.each do |disease_profile| %>
  <tr>
    <td><%= disease_profile.name %></td>
    <td><%= disease_profile.description %></td>
    <td><%= link_to 'Show', disease_profile %></td>
    <td><%= link_to 'Edit', edit_disease_profile_path(disease_profile) %></td>
    <td><%= link_to 'Destroy', disease_profile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disease profile', new_disease_profile_path %>
