<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @disease_profile.name %>
</p>

<p>
  <b>Description:</b>
  <%= @disease_profile.description %>
</p>


<%= link_to 'Edit', edit_disease_profile_path(@disease_profile) %> |
<%= link_to 'Back', disease_profiles_path %>
