<%= form_for(@system_error) do |f| %>
  <% if @system_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_error.errors.count, "error") %> prohibited this system_error from being saved:</h2>

      <ul>
      <% @system_error.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :error %><br />
    <%= f.text_field :error %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
