<!--This is the 'fields' helper for the new user 'sign up' page-->

<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
	  <%= f.label :first_name, "First Name" %><br />
	  <%= f.text_field :first_name %>
	</div><!--.field-->
	
	<div class="field">
	  <%= f.label :last_name, "Last Name" %><br />
	  <%= f.text_field :last_name %>
	</div><!--.field-->
	
	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div><!--.field-->
	
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div><!--.field-->
	
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br/>
		<%= f.password_field :password_confirmation %>
	</div><!--.field-->                                                                                             