<p>
  <b>Location:</b>
  <%= @person.location %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<p>
  <b>Race:</b>
  <%= @person.race %>
</p>

<p>
  <b>Sex:</b>
  <%= @person.sex %>
</p>

<p>
  <b>Year of First Symptom:</b>
  <%= @person.first_occurrence %>
</p>

<p>
  <b>Year Diagnosed:</b>
  <%= @person.year_diagnosed %>
</p>

<p>
  <b>Primary Neurologist:</b>
  <%= @person.primary_physician %>
</p>

<p>
  <b>Primary Condition:</b>
  <%= @person.condition %>
</p>

<p>
  <b>MS Medications:</b>
  <%= @person.medications %>
</p>    

<p>
  <b>Other Medications:</b>
  <%= @person.other_medications %>
</p>  