<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<td>Location</td>
			<td><%= @patient.location %></td>
		</tr>
		<tr>
			<td>Birthday</td>
			<td><%= @patient.birthday %></td>
		</tr>
		
		<tr>
			<td>Race</td>
			<td><%= @patient.race %></td>
		</tr>
		
		<tr>
			<td>Sex</td>
			<td><%= @patient.sex %></td>
		</tr>
		
		<tr>
			<td>Year of First Symptom</td>
			<td><%= @patient.first_occurrence %></td>
		</tr>
		
		<tr>
			<td>Year Diagnosed</td>
			<td><%= @patient.year_diagnosed %></td>
		</tr>
		
		<tr>
			<td>Primary Neurologist</td>
			<td><%= @patient.primary_physician %></td>
		</tr>
		
		<tr>
			<td>Primary Condition</td>
			<td><%= @patient.condition %></td>
		</tr>
		
		<tr>
			<td>MS Medications</td>
			<td><%= @patient.medications %></td>
		</tr>
		
		<tr>
			<td>Other Medications</td>
			<td><%= @patient.other_medications %></td>
		</tr>
	</tbody>
</table><!--/ .table .table-striped .table-bordered-->



