<section class="row">
	<h2>Editing Your Profile</h2>
	<div class="span4 sidebar">
		<%= render 'shared/profile_sidebar' %>
	</div><!--/ .span4 .sidebar-->	
	<div class="span7">
		<%= simple_form_for current_patient, :html => { :class => 'form-vertical' } do |f| %>
		    <%= f.input :location, :label => 'Where are you currently located? (city, state)' %>
		 	<%= f.input :birthday, :as => :date, :start_year => Date.today.year - 90,
		 	                              :end_year => Date.today.year - 12, :discard_day => false,
		 	                              :order => [:month, :day, :year], :label => 'In what month & year were you born?' %>
		    <%= f.input :race, :collection => ['American Indian or Alaska Native', 'Asian', 'African American', 'Hispanic or Latino', 'Native Hawaiian or Other Pacific Islander', 'White', 'Other'], :label => 'What is your ethnicity?' %>
		    <%= f.input :sex, :collection => ['Male', 'Female'], :label => 'What is your sexual orientation?' %>
		    <%= f.input :first_occurrence, :collection => 1920..2012, :label => 'What year did you experience your first symptom?' %>
		    <%= f.input :year_diagnosed, :collection => 1920..2012, :label => 'What year were you diagnosed?' %>
		    <%= f.input :primary_physician, :label => 'Who is your primary neurologist?' %>
		    <%= f.input :condition, :collection => ['Benign Multiple Sclerosis (MS)', 'Relapsing-Remitting Multiple Sclerosis (RRMS)', 'Secondary Progressive Multiple Sclerosis (SPMS)', 'Primary Progressive Multiple Sclerosis (PPMS)', 'Progressive Relapsing Multiple Sclerosis (PRMS)', 'Malignant Multiple Sclerosis (Marburg Variant)'], :label => 'What primary type of MS do you have?' %>
		    <%= f.input :medications, :collection => ['Avonex', 'Betaseron', 'Extavia', 'Rebif', 'Copaxone', 'Gilenya', 'Tysabri', 'Novantrone', 'Other'], :label => 'What MS specific medications are you currently taking?' %>
		    <%= f.input :other_medications, :label => 'What other medications are you currently taking?', :as => :string %>
		    <%= f.submit "Update", :class => "btn btn-success btn-large" %> 
		<% end %>
	</div><!--/ .span7-->
</section><!--/ .row-->