<section class="row">
	<h2>Edit Account Settings</h2>
	<div class="span4 sidebar">
		<%= render 'shared/profile_sidebar' %>
	</div><!--/ .span4 .sidebar-->	
	<div class="span7">
		<%= simple_form_for current_patient, :html => { :multipart => true, :class => 'form-vertical' } do |f| %>
			<%= f.input :first_name, :label => 'First Name', :required => false %>
			<%= f.input :last_name, :label => 'Last Name', :required => false %>
			<%= f.input :email, :label => 'Email'  %>
			<%= f.input :password, :label => 'Password' %>
			<%= f.input :password_confirmation, :label => 'Confirmation' %>
				<% if @patient.photo? %>
					<%= image_tag @patient.photo.url(:small), :class => "round" %>
				<% else %>
					<%= profile_image %>
				<% end %>
			<%= f.input :photo, :as => :file, :label => false, :hint => 'must enter password to submit updates' %>
			<%= f.submit "Update", :class => "btn btn-success btn-large" %>
		<% end %>
	</div><!--/ .span7-->
</section><!--/ .row-->