<!--This is the new user's sign up form page-->
<%= render 'shared/home_sidenav' %>

<section id="patient_new" class="mid-shadow">
	<div id="sign_up_form">
		<h2>Sign up</h2>
		
		<%= simple_form_for @patient, :html => { :class => 'form-vertical' } do |f| %>
			<%= render 'form_new', :f => f %>		
			<div class="actions">
				<%= f.submit "Sign up", :class => "button round" %>
			</div>
		<% end %>
		<div class="already_member">
			<p>Already a member? <%= link_to "Sign in", signin_path %></p>
		</div><!--.already_member-->
	</div><!--#sign_up_form-->
</section><!--#main-profile-->
