<%= render 'shared/sidenav' %>

<section id="main-profile" class="mid-shadow">
	<%= render 'shared/profile_nav' %>
	
	<section id="profile-information">
		<div id="profile-left">
			<p>
				<b><%= @patient.first_name + " " + @patient.last_name %></b> 
				<%= link_to "[ edit ]", edit_patient_path(current_patient) %>
			</p>
			
			<div class="profile-image">
				<%= profile_image %>
			</div><!--.profile_image-->
				<%= updates_icon %>
		</div><!--#profile-left-->
		
		<div id="profile-right">
			<p>
			  <b>Location:</b>
			  <%= @person.location %>
			</p>
			
			<p>
			  <b>Birthday:</b>
			  <%= @person.birthday %>
			</p>
			
			<p>
			  <b>Race:</b>
			  <%= @person.race %>
			</p>
			
			<p>
			  <b>Sex:</b>
			  <%= @person.sex %>
			</p>
			
			<p>
			  <b>Year of First Symptom:</b>
			  <%= @person.first_occurrence %>
			</p>
			
			<p>
			  <b>Year Diagnosed:</b>
			  <%= @person.year_diagnosed %>
			</p>
			
			<p>
			  <b>Primary Neurologist:</b>
			  <%= @person.doctor %>
			</p>
			
			<p>
			  <b>Primary Condition:</b>
			  <%= @person.condition %>
			</p>
			
			<p>
			  <b>Medications:</b>
			  <%= @person.medications %>
			</p>    
		</div><!--#profile-right-->
	</section><!--#profile-information-->
</section><!--#main-profile-->