<%= render 'shared/sidenav' %>

<section id="main-profile" class="mid-shadow">
	<%= render 'shared/profile_nav' %>
	
	<section id="profile-information">
		<div id="profile-left">
			<p>
				<b><%= @patient.first_name + " " + @patient.last_name %></b> 
				<%= link_to "[ edit ]", edit_patient_path(current_patient) %>
			</p>
			
			<div class="profile-image">
				<%= profile_image %>
			</div><!--.profile_image-->
				<%= updates_icon %>
		</div><!--#profile-left-->
		
		<div id="profile-right">
			<%= render 'patients/profile_information' %>
		</div><!--#profile-right-->
	</section><!--#profile-information-->
</section><!--#main-profile-->