<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @daily_record.date %>
</p>

<p>
  <b>Note:</b>
  <%= @daily_record.note %>
</p>


<%= link_to 'Edit', edit_daily_record_path(@daily_record) %> |
<%= link_to 'Back', daily_records_path %>
