<p id="notice"><%= notice %></p>

<p>
  <b>Wellness score:</b>
  <%= @daily_record.wellness_score %>
</p>

<p>
  <b>Note:</b>
  <%= @daily_record.note %>
</p>

<p>
  <b>Day:</b>
  <%= @daily_record.day_id %>
</p>

<p>
  <b>Patient:</b>
  <%= @daily_record.patient_id %>
</p>


<%= link_to 'Edit', edit_daily_record_path(@daily_record) %> |
<%= link_to 'Back', daily_records_path %>
