<%= form_for(@search_query) do |f| %>
  <% if @search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_query.errors.count, "error") %> prohibited this search_query from being saved:</h2>

      <ul>
      <% @search_query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :search_query %><br />
    <%= f.text_field :search_query %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
