<%= form_for(@severity) do |f| %>
  <% if @severity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@severity.errors.count, "error") %> prohibited this severity from being saved:</h2>

      <ul>
      <% @severity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rank %><br />
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
