<header class="navbar navbar-fixed-top bottom-shadow">
	<div class="inner-navbar">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		
			<% if current_patient %>
				<%= link_to logo, current_patient, :class => "brand" %>
					  <div class="nav-collapse">
					    <ul class="nav actions pull-right">
					      <li><%= link_to "Sign out", signout_path, :class => "btn btn-success" %></li>
					    </ul>
					    
					    <ul class="nav pages">
					      <li class="<%= "current" if params[:controller] == "patients" or params[:controller] == "people" %>">
					      	<%= link_to "Profile", current_patient %></li>
					      <li class="<%= "current" if params[:controller] == "surveys" %>">
					      	<%= link_to "Journal", survey_path %></li>
					      <li class="<%= "current" if params[:controller] == "histories" %>">
					      	<%= link_to "History", history_path %></li>
					    </ul>
					  </div><!--/.nav-collapse -->	
			<% else %>	
				<%= link_to logo, root_path, :class => "brand" %>
			          <div class="nav-collapse">		            
			            <ul class="nav actions pull-right">
			              <li><%= link_to "Sign in", signin_path, :class => "btn btn-success" %></li>
			            </ul>
			        
			            <ul class="nav pages">
			              <li><%= link_to "Sign up", signup_path %></li>
			              <li><%= link_to "About", about_path %></li>
			              <li><%= link_to "Contact", contact_path %></li>
			            </ul>
			          </div><!--/.nav-collapse -->	
		    <% end %>
		</div><!--/.container-->
	</div><!--/.navbar-inner-->   
</header>