<!--This is the 'fields' helper for the new user 'sign up' page-->

<%= render 'shared/error_messages', :object => f.object %>

	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div><!--.field-->
	
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div><!--.field-->
	
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br/>
		<%= f.password_field :password_confirmation %>
	</div><!--.field-->                                                                                             